

/* Set padding to keep content from hitting the edges */

html, body {
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.body-content {
    margin-top: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.advert-img {
    width: 100%;
}

.advert-item {
    padding-bottom: 20px;
}

.item-image {
    width: 245px;
    height: 180px;
    float: none;
}

.item-description {
    background-color: #ffffff;
    border: none;
    font-size: 1em;
}

.item-description-btn {
    width: 245px;
}

.cart-item {
    margin-left: 5px;
}

.cart-item-img {
    width: 75%;
    float: none;
}

pre {
    white-space: pre-wrap;
    width: 250px;
    background-color: #ffffff;
    border: none;
}

.quantity-item {
    width: 65px;
}

.btn-cart {
    background: url("Images/shopping-cart.svg") no-repeat center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: block;
    width: 55px;
    height: 55px;
    z-index: 999;
    opacity: 0.8;
}



.categories-menu-btn {
    position: fixed;
    left: 10px;
    top: 55px;
    z-index: 999;
}

/*input type number style start*/
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 125px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
/*input type number style end*/